<h2>
Welcome!
</h2>

<p>
Following these instructions, you'll be able to get a basic CityVoice survey up and running in about 30 minutes or less.
</p>

<a href="/signup" class="button">
Click here to get started!
</a>
