<h2>
Welcome!
</h2>

<p>
Going through this web page, you'll be able to get a simple CityVoice instance up and running in about 30 minutes.
</p>

<a href="/signup" class="button">
Click here to get started!
</a>
