<h2>What is this?</h2>

<p><a href="http://www.cityvoiceapp.com/">CityVoice</a> is a place-based call-in system to collect community feedback on geographic entities (like vacant properties) using the simple, accessible medium of the telephone.</p>

<p>This tool will step you through the process of creating your own CityVoice survey.</p>


<a href="/signup" class="button">Get started</a>
