<!DOCTYPE html>
<html lang="en">
  <title>CityVoice-Builder for Heroku</title>
  <h1>CityVoice Builder</h1>

  <div id="steps-container">
    <div id="locations-step" class="step">
      Locations
    </div>
    <div id="questions-step" class="step">
      Questions
    </div>
    <div id="audio-step" class="step">
      Audio
    </div>
    <div id="push-step" class="step">
      Push!
    </div>
  </div>

  <%= yield %>

</html>
