<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <title>CityVoice-Builder for Heroku</title>

  <body>
    <div class="container-fluid" id="main">
      <%= yield %>
    </div>
  </body>
</html>
