<h2>Edit Location Names</h2>

<form name="location-edits" action="/locations/edit" method="post">
  <ol>
  <% @locations.each do |location| %>
    <li>
      <input type="text" name="locations[][name]" value="<%= location["name"] %>">
      <%= location["name"] %>
      <input type="hidden" name="locations[][lat]" value="<%= location["lat"] %>">
      <input type="hidden" name="locations[][lng]" value="<%= location["lng"] %>">
    </li>
  <% end %>
  </ol>
  <input type="submit" value="Submit location names">
</form>
