<p>
  Great! We're ready to create your CityVoice survey.
</p>
<p>
  Click the button below and authorize this "CityVoice builder" app to access your Heroku account. Then we'll create the CityVoice survey for you.
</p>

<a href="<%= @heroku_authorize_url %>" class="button">Create CityVoice survey</a>
