<h2>Publish the survey</h2>

<p>Now that you've created your questions and recorded your audio, it needs to be uploaded to <strong>heroku</strong> so you can access the survey online from anywhere.</p>
</p>
<p>Click the button below and authorize this "CityVoice builder" app to access your Heroku account. This will create your CityVoice survey.</p>

<a href="<%= @heroku_authorize_url %>" class="button">Create CityVoice survey</a>
