<h2>
  Add Questions
</h2>

<form name="input" action="questions" method="post">

<p>The info you put here will be displayed in CityVoice like this:</p>
<img src="/img/question-screenshot.png">

<h3>Agree/Disagree</h3>

<p>
Add up to 4 "agree"/"disagree" questions
</p>

<ol>
  <li>
    <input type="text" name="questions[agree_questions][][short_name]" class="short_name" placeholder="Example: Property Outcome" required>
    <input type="text" name="questions[agree_questions][][question_text]" class="question_text" placeholder="Example: Do you think this property should be demolished?" required>
  </li>
  <% (1..3).to_a.each do |number| %>
    <li>
      <input type="text" name="questions[agree_questions][][short_name]" class="short_name" placeholder="Example: Property Outcome">
      <input type="text" name="questions[agree_questions][][question_text]" class="question_text" placeholder="Example: Do you think this property should be demolished?">
    </li>
  <% end %>
</ol>

<h3>Voice Question</h3>
<p>
  Add a question for people to leave voice comments
</p>

<input type="text" name="questions[voice_question_text]" class="question_text" placeholder="Example: What would make this park better?" required>

<br><br>
<input type="submit" value="Submit">
</form>
