<% if @built_app_url %>
Your app will be available in about 30 seconds at: <%= @built_app_url %>
<% else %>
Uh oh! Something broke. We've logged the problem, but please email <a href="mailto:dave@codeforamerica.org">dave@codeforamerica.org</a> to get help.
<% end %>
