Your app will be available in about 30 seconds at:
<br>
<br><br><br>
<h3>Technical details</h3>
<br><br>
Token exchange response:
<br><br>
<%= @token_exchange_response %>
<br><br>
App build response:
<%= @app_build_response %>

