<% if @built_app_url %>
<h2>Success!</h2>

<h2>Connect your phone number</h2>
<p>
Hooray! The last step is to hook up your Twilio phone number to CityVoice.
</p>
<p>
First click <a href="https://www.twilio.com/user/account/phone-numbers/incoming" class="button" target="_blank">configure number</a> to go to your Twilio page.
</p>
<p>
Then, click on the phone number:
</p>
<img src="/img/twilio-numbers-page.png">
<p>
  Lastly, copy and paste
  <br><br>
  <%= @built_app_url %>/calls
  <br><br>
  into the Voice "Request URL" box (like below).
</p>
<img src="/img/twilio-configure-phone-number.png">


<h2>Congratulations</h2>
<p>
  You're done! Call your phone number to try out your new CityVoice survey!
</p>
<p>
  When asked for a call-in code, you can use "001".
</p>
<p>
  Lastly, your CityVoice survey web site will be available in a few minutes at:
  <br>
  <a href="<%= @built_app_url %>" target="_blank"><%= @built_app_url %></a>
</p>

<% else %>
<p>
Uh oh! Something broke. We've logged the problem, but please email <a href="mailto:dave@codeforamerica.org">dave@codeforamerica.org</a> to get help.
</p>
<% end %>
