<% if @built_app_url %>
<h2>Connect phone number</h2>
<p>Now that your survey has been published online, you can connect it to your Twilio phone number by following these steps.</p>
<ol>
  <li>
    <p><a href="https://www.twilio.com/user/account/phone-numbers/incoming" class="button" target="_blank">Go to the Twilio configuration page</a> (opens in new tab) and click on the phone number displayed there.</p>
    <p><img src="/img/twilio-numbers-page.png"></p>
  <li>

  <li>
    <p>Copy and paste this URL into the "Request URL" field:</p>
    <p><strong><%= @built_app_url %>/calls</strong></p>
    <p><img src="/img/twilio-configure-phone-number.png"></p>
  </li>
  </ol>

<h2>Congratulations</h2>
<p>You can now call your phone number to try out your new CityVoice survey.</p>
<p>When asked for a call-in code, you can use "001" to test it without affecting your real results.</p>
<p>Lastly, your CityVoice survey web site will be available in a few minutes at:
  <br>
  <a href="<%= @built_app_url %>" target="_blank"><%= @built_app_url %></a>
</p>

<% else %>

<p>Uh oh! Something went wrong. We've logged the problem, but please email <a href="mailto:dave@codeforamerica.org">dave@codeforamerica.org</a> to get help.</p>
<% end %>
