<h2>Create accounts</h2>

<p>To create a survey, you'll need two <strong>free</strong> accounts from the services that power CityVoice.</p>
<p>If you already have accounts with these services, skip to the next step, otherwise:</p>

<ol>
  <li><h3>Heroku</h3>
    <ul>
      <li><a href="https://signup.heroku.com/www-home-top" target="_blank">Create an account</a> (opens in a new tab).</li>
      <li>When you've confirmed your email address and successfully logged in, return to this page.</p>
    </ul>
  </li>
  <li><h3>Twilio</h3>
    <ul>
      <li><a href="https://www.twilio.com/try-twilio" target="_blank">Create an account </a> (opens in a new tab).</li>
      <li>Fill out the sign-up form and follow the instructions for verifying your account.</li>
      <li>When you are given your new Twilio phone number, click "<strong>Get Started</strong>" and return to this page (see example below).
      <img src="/img/twilio-first-phone-number.png" style="border: solid; display: block; margin-left: auto; margin-right: auto;margin-top:10px">
    </ul>
  </li>
</ol>

<form name="input" action="/deployment/new" method="post">
<input type="submit" value="Next step">
</form>
