<h2>Sign Up</h2>

<p>
First, you'll need to create (free) accounts for the two services that power CityVoice.
</p>

<h3>Create a Heroku account</h3>
<ol>
  <li>Click <a href="https://signup.heroku.com/www-home-top" target="_blank" class="button-prominent">here</a>to open a new tab with the Heroku sign-up page</li>
  <li>Create a new account with your email address</li>
  <li>Check your email for a confirmation from Heroku, and follow the link there to set your password</li>
</ol>

<h3>Create a Twilio account</h3>
<ol>
  <li>Click <a href="https://www.twilio.com/try-twilio" target="_blank" class="button-prominent">here</a>to open a new tab with the Twilio sign-up page</li>
  <li>Fill out the sign-up form and follow their instructions for verifying your account</li>
  <li>When you see this:
  <img src="/img/twilio-first-phone-number.png" style="border: solid; display: block; margin-left: auto; margin-right: auto;">
  Click <strong>"Get started"</strong> and come back to this page</li>
</ol>

<form name="input" action="/deployment/new" method="post">
<input type="submit" value="Next">
</form>
